@{
    ViewData["Title"] = "Confirmación";
}
<div class="row">
    <div class="px-3 py-3 pb-md-4 mx-auto text-center">
        <h1>¡Enviado!</h1>
        <h2>Gracias por ponerse en contacto con nosotros. </h2>
        <h3>Su mensaje ha sido enviado con éxito</h3><br/>
        <a asp-action="Asociado">Volver</a>
        <p><img src="~/images/logo-01.png" width="40%"></p>
    </div>
    <div class="col-md-4">
        
    </div>

</div>


