@model Asociado
@{
    ViewData["Title"] = "Asociado";
}
    <h3><label>Asociado</label></h3>
    <hr/>

@Html.ValidationSummary()
    <div class="row">
          <div class="col-md-10">
            <form asp-action="Asociado" >
           <div class="col-md-4">
               <div class="form-group"><label>Nombre:</label>
               <input asp-for="Nombre" class="form-control" />
               </div>
           </div>
           <div class="col-md-4">
               <div class="form-group"><label>Apellido Paterno:</label>
               <input asp-for="APaterno" class="form-control" />
               </div>
           </div>
           <div class="col-md-4">
               <div class="form-group"><label>Apellido Materno:</label><small>(Opcional)</small>
               <input asp-for="AMaterno" class="form-control" />
               </div>
           </div> 
           <div class="col-md-8">
               <div class="form-group"><label>Email:</label>
               <input asp-for="Correo" class="form-control" />
               </div>
           </div>
           <div class="col-md-4">
            <div class="form-group"><label>Tipo Asociado:</label>
            <select asp-for="TAsociado" class="form-control" />
             <option value="Principal">Asociado Principal</option>
             <option value="Adjunto">Asociado Adjunto</option>
             <option value="Invitado">Asociado Invitado</option>
             </select>
           </div>    
        </div>
           <div class="col-md-8">
         <div><label>Genero: </label><br />
             Masculino: <input checked="checked" 
                id="Genero" name="Genero" type="radio" value="Masculino" />

             Femenino: <input id="Genero" name="Genero" type="radio" value="Femenino" />
         </div><br />
           <div class="form-group"><label for="descripcion">Grado Academico:</label>
           <input asp-for="GAcademico" class="form-control" />
            </div>
              <div class="form-group"><label for="descripcion">Área de Interés</label>
           <input asp-for="Area" class="form-control" />
            </div>
           <div class="form-group">
               <button type="submit" class="btn btn-primary">Registrar</button>
                <div>
                <a asp-action="Asociados">Detalle de la Lista</a>
                </div>
            </div>
            </div>
      </form>
      </div>
      </div>

