@model jbchorg.Models.Mensaje

@{
    ViewData["Title"] = "Listado de Contactos";
}

<div class="container">
    <div class="px-3 py-3 pb-md-4 mx-auto text-center">
<h1>Contacto</h1>
<h3>Listado de Contactos</h3>
    </div>
    <div class="row">
    <div class="col-md-8 offset-md-2">    
<h3><label>Listado de contacto</label></h3>
</div>
    </div>
    <hr/>
@Html.ValidationSummary()

    <div class="row">

        

          <div class="col-md-10">

            <form asp-action="Contacto" >

           <div class="col-md-4">
               <label>Nombre</label>
</div>
           </div>
           <div class="col-md-4">
               <div class="form-group"><label>Apellido Paterno:</label>
               <input asp-for="APaterno" class="form-control" />
               </div>
           </div>
           <div class="col-md-4">
               <div class="form-group"><label>Apellido Materno:</label><small>(Opcional)</small>
               <input asp-for="AMaterno" class="form-control" />
               </div>
           </div> 
           <div class="col-md-8">
               <div class="form-group"><label>Email:</label>
               <input asp-for="Correo" class="form-control" />
               </div>
           </div>
            <div class="col-md-4">
               <div class="form-group"><label>Teléfono de contacto:</label>
               <input asp-for="Movil" class="form-control" />
               </div>
           </div>
           <div class="col-md-12">
               <div class="form-group"><label>Asunto:</label>
               <input asp-for="Asunto" class="form-control" />
               </div>
           </div>
            <div class="col-md-12">
           <div class="form-group"><label for="descripcion">Mensaje:</label>
            <textarea class="form-control" asp-for="Descripcion" rows="5" id="comment"></textarea>
            </textarea>
            </div>
            
        <div class="form-group">
            <button type="submit" class="btn btn-primary"><i class="material-icons" style="font-size:18px">email</i> Enviar Mensaje de Contacto</button>
         </div>
        </div>
      </form>
      </div>
      </div>
