@model IEnumerable<jbchorg.Models.Proyecto>
@{
    ViewData["Title"] = "Proyectos";
}

<div class="row">
<form asp-controller="Proyecto" asp-action="Proyectos">
    <div class="col-lg-7">
    <h3>Listado de Proyectos</h3>
    <input value="" type="text" name="fNom"  class="form-search form-control" placeholder="Búsqueda por Nombre">
    </div>
    <div class="col-lg-5">
        
        <button type="submit" class="btn btn-primary">Filtar</button>
    </div>
</form>
</div><br/>
<div class="row">
<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>N°</th>
            <th>Nombre de Proyecto</th>
            <th>Duración</th>
            <th>Descripción</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                 <td>@Html.DisplayFor(modelItem => item.Id)
                 </td>
                 <td>@Html.DisplayFor(modelItem => item.Nombre)
                 </td>
                 <td>@Html.DisplayFor(modelItem => item.Duracion)
                 </td>
                 <td>@Html.DisplayFor(modelItem => item.Descripcion)
                 </td>
            </tr> 
        }
    </tbody>
</table>
</div>

<p>ver</p>

