@{
    ViewData["Title"] = "Asociados Activos";
}
<h3>Asociados Activos</h3>
<div class="row">
  <div class="col-lg-5">
      <p><img src="~/images/daniel_lopez.jpg "></p>
    </div>
  <div class="col-lg-5">
      <p>Daniel Lopez</p>
  </div>
</div>

