@{
    ViewData["Title"] = "Asociados Activos";
}

<div class="container">

<h3>Asociados Activos</h3>
<div class="row">
  <div class="col-lg-5">
      <p><img src="~/images/hilary_creed.jpg "></p>
  </div>
  <div class="col-lg-7">
    <p>Hilary M. Creed-Kanashiro</p>
    <p>Asociada que participa en servicios como alimentación y seguridad alimenticia</p>  
  </div>
  </div>
  <div class="row">
  <div class="col-lg-5">
      <p><img src="~/images/henry_morales.jpg "></p>
  </div>
  <div class="col-lg-7">
    <p>Enrique Morales Moreno</p>
    <p>Asociado que participa en servicios como malnutrición y nutrición</p>  
  </div>
  </div>
  <div class="row">
  <div class="col-lg-5">
      <p><img src="~/images/daniel_lopez.jpg "></p>
  </div>
  <div class="col-lg-7">
    <p>Daniel Lopez de Romaña Forga</p>
    <p>Asociado que participa en proyectos de micronutrientes y nutrición</p>  
  </div>
  </div>
  <div class="row">
  <div class="col-lg-5">
      <p><img src="~/images/laura_astete.jpg "></p>
  </div>
  <div class="col-lg-7">
    <p>Laura Astete Robilliard</p>
    <p>Asociada que participa en servicios como alimentación y nutrición</p>  
  </div>
  </div>
  <div class="row">
  <div class="col-lg-5">
      <p><img src="~/images/rossina_pareja.jpg "></p>
  </div>
  <div class="col-lg-7">
    <p>Enrique Morales Moreno</p>
    <p>Asociado que participa en servicios como malnutrición y nutrición</p>  
  </div>
  </div>
</div>



<hr/>