@{

    ViewData["Title"] = "Asociado";

// ok 
<h2>@ViewData["Asociados"]</h2>

<div class="row">
  <div class="col-lg-5">
      <p><img src="~/images/ejecutiva.jpg "></p>
      </div>
  <div class="col-lg-7">
      <p>ANA    MERINO</p>
  </div>
</div>
}