@{
<<<<<<< HEAD
    ViewData["Title"] = "Asociado";
=======
    ViewData["Title"] = "Asociados";
>>>>>>> a4ca91195ce063ce4159c2cf9ff4e921d6271eea
}
// ok 
<h2>@ViewData["Asociados"]</h2>

<div class="row">
  <div class="col-lg-5">
      <p><img src="~/images/ejecutiva.jpg "></p>
      </div>
  <div class="col-lg-7">
      <p>ANA MERINO</p>
  </div>
</div>


<<<<<<< HEAD
<p>Use tsehi asarea to provide additional information.s</p>
=======
>>>>>>> a4ca91195ce063ce4159c2cf9ff4e921d6271eea
