<div class="row">
<div class="col-xs-12 col-sm-4"><h3>Videos</h3>
  <iframe src="https://www.youtube.com/embed/zVcpRqH2Nqs"></iframe></div>
  <div class="col-xs-12 col-sm-4"><h3>Materiales en Venta</h3>
  <p>Informe de Proyecto</p>
  <p>Libro</p>
  <p>Material Didáctico</p>
  <p>Recetario</p></div>

</div>