@model jbchorg.Models.Mensaje

@{
    ViewData["Title"] = "Contacto";
}
<div>
<div class="container">
    <div class="px-3 py-3 pb-md-4 mx-auto text-center">
<h1 class="display-4">Contacto</h1>
<p class="lead">Complete el siguiente formulario y un asesor se contactará para resolver sus dudas.</p>
    </div>
    <div class="row">
    <div class="col-md-8 offset-md-2">    
<h3>Formulario de contacto de correo</h3>
<hr/></div>
    </div>
@Html.ValidationSummary()

    <div class="row">

          <div class="col-md-6">

            <form asp-action="Contacto" >

           <div class="col-12 col-md-4 mb-3 "><label for="Nombre">Nombre</label><input class="form-control" data-val="true" data-val-maxlength="No exceda de 20 caracteres en el campo Nombre." data-val-maxlength-max="20" data-val-required="El campo Nombre es requerido." id="Nombre" maxlength="20" name="Nombre" type="text" value="" /><small class="field-validation-valid text-danger" data-valmsg-for="Nombre" data-valmsg-replace="true"></small></div>

                    <div class="col-12 col-md-4 mb-3 "><label for="APaterno">Apellido Paterno</label><input class="form-control" data-val="true" data-val-maxlength="No exceda de 20 caracteres en el campo Apellido Paterno." data-val-maxlength-max="20" data-val-required="El campo Apellido Paterno es requerido." id="APaterno" maxlength="20" name="APaterno" type="text" value="" /><small class="field-validation-valid text-danger" data-valmsg-for="APaterno" data-valmsg-replace="true"></small></div>

                    <div class="col-12 col-md-4 mb-3 "><label for="ApellidoM">Apellido Materno <small class="text-muted">(opcional)</small></label><input class="form-control" data-val="true" data-val-maxlength="No exceda de 20 caracteres en el campo Apellido Materno." data-val-maxlength-max="20" id="ApellidoM" maxlength="20" name="ApellidoM" type="text" value="" /><small class="field-validation-valid text-danger" data-valmsg-for="ApellidoM" data-valmsg-replace="true"></small></div>
                </div>
    </div>


            <div class="row">
                    <div class="col-12 col-md-6 mb-3 "><label for="Email">Correo electronico</label><input class="form-control" data-val="true" data-val-email="The Correo electronico field is not a valid e-mail address." data-val-maxlength="No exceda de 30 caracteres en el campo Correo electronico." data-val-maxlength-max="30" data-val-required="El campo Correo electronico es requerido." id="Email" maxlength="30" name="Email" type="email" value="" /><small class="field-validation-valid text-danger" data-valmsg-for="Email" data-valmsg-replace="true"></small></div>

                    <div class="col-12 col-md-6 mb-3 "><label for="Celular">Telofono de contacto</label><input class="form-control" data-val="true" data-val-maxlength="No exceda de 20 caracteres en el campo Telefofono de contacto." data-val-maxlength-max="20" data-val-required="El campo Telefofono de contacto es requerido." id="Celular" maxlength="30" name="Celular" type="text" value="" /><small class="field-validation-valid text-danger" data-valmsg-for="Celular" data-valmsg-replace="true"></small></div>
                </div>


         <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-8 "><label for="Asunto">Asunto</label><input class="form-control" data-val="true" data-val-maxlength="No exceda de 100 caracteres en el campo Asunto." data-val-maxlength-max="100" data-val-required="El campo Asunto es requerido." id="Asunto" maxlength="100" name="Asunto" type="text" value="" /><small class="field-validation-valid text-danger" data-valmsg-for="Asunto" data-valmsg-replace="true"></small></div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-8 "><label for="Descripcion">Mensaje</label><textarea class="form-control" data-val="true" data-val-required="El campo Mensaje es requerido." id="Descripcion" name="Descripcion" rows="4">
</textarea><span class="field-validation-valid text-danger" data-valmsg-for="Descripcion" data-valmsg-replace="true"></span></div>
                </div>


        <div class="form-group">
            <input type="submit" value="Enviar" class="btn btn-primary" />
            <button type="reset" value="Reset" class="btn btn-primary" />Reset</button>
        </div>
        </div>
      </form>
      </div>
      </div>

