@model Asociado
@{
    ViewData["Title"] = "Inicio";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
       <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/ban_3.png" alt="ASP.NET" class="img-responsive" />
           
        </div>
        <div class="item">
            <img src="~/images/ban_0.jpg" alt="Visual Studio" class="img-responsive" />
           
        </div>
        <div class="item">
            <img src="~/images/ban_1.jpg" alt="Microsoft Azure" class="img-responsive" />
          
        </div>
    </div>
   
</div>

<div class="row">
  <div class="col-sm-12">
    <h3><label>Misión y Visión</label></h3>
    <div class="row">
      <div class="col-md-6">
        <h3>Misión</h3>
        <p>Desarrollar investigación de alta calidad para generar nuevos conocimientos que contribuyan al desarrollo y bienestar del ser humano, así como el uso eficiente de los recursos alimentarios, con énfasis en la salud y nutrición del niño, adolescente y la mujer.</p>
        <P>Difundir conocimientos y compartir experiencias con grupos académicos, la sociedad civil y grupos responsables de la toma de decisiones a nivel local e internacional.</P>
        <P>restar labor asistencial de salud y nutrición a personas necesitadas, con énfasis en la prevención, como parte de las actividades de investigación.</P>
      </div>
      <div class="col-md-6">
        <h3>Visión</h3>
        <p>Consolidarnos como una institución internacionalmente reconocida, líder en investigación en salud y nutrición, que contribuye al conocimiento y a la generación de propuestas para mejorar la calidad de vida de las poblaciones menos favorecidas en el Perú y el mundo.</p>
      </div>
    </div>
  </div>
</div>
<hr />

<h3>Nuestra Institución</h3>
<div class="row">
  <div class="col-lg-7">
    <p>Junta de benificencia de Chosica(JBCH) es una institución privada, sin fines de lucro, dedicada a la rehabilitación,investigación y docencia en las Áreas de Nutrición y Salud.</p>
    <p>En 1961 un grupo de pediatras peruanos bajo el liderazgo del Dr. George Graham, crearon un centro de investigación y rehabilitación de malnutrición severa infantil,dentro de la Clínica Anglo Americana que posteriormente llegára independizarse tomando el nombre de Junta de benificencia de Chosica en el año de 1971 como un Organismo No Gubernamental. En 1982 el JBCH establece su sede en el distrito de La Molina.</p>
    <p>En el transcurso de estos 40 años sigue su trabajo en la sede de La Molina el que se ha ido expandiendo a la comunidad, desarrollándose nuevas áreas de investigación e intervenciones para mejorar la nutrición y salud de la población peruana especialmente aquella de escasos recursos económicos; trabajando tanto en la ciudad de Lima como en otras zonas del país.</p>
    <p>El JBCH trabaja en coordinación con los Ministerios de Salud, de Desarrollo e Inclusión Social y de Agricultura, instituciones estatales, universidades nacionales e internacionales, organizaciones de la comunidad y privados.</p>
    <p>El JBCH es una organización conformada por un grupo multidisciplinario de reconocidos profesionales y así mismo cuenta con una moderna infraestructura en La Molina para desarrollar sus actividades de servicio nutricional,  investigación y docencia. Incluye laboratorios equipados, centro de cómputo, unidad de prevención y rehabilitación nutricional, y un área administrativa además de sedes en las áreas de desempeño de los proyectos en campo.</p>  
  </div>
  <div class="col-lg-5">
      <p><img src="~/images/jbch.jpg "></p>
  </div>
</div>

<div class="row">
<div class="col-xs-12 col-sm-4"><h3><label>Videos</label></h3>
  <ul><iframe src="https://www.youtube.com/embed/zVcpRqH2Nqs"></iframe></ul></div>
  <div class="col-xs-12 col-sm-4"><h3><label>Materiales en Venta</label></h3>
   <ul>
	<li>Libro</li>
	<li>Revistas</li>
	<li>Informe de Proyecto</li>
	<li>Material Didáctico</li>
	<li>Recetario</li>
  </ul></div>
<div class="col-xs-12 col-sm-4"><h3><label>Enlaces de Interés</label></h3>
<ul>
	<li>Bibliotecas</li>
	<li>Organismos y Instituciones</li>
	<li>Proyectos</li>
	<li>Universidades</li>
	<li>Redes</li>
	<li>Revistas</li>
</ul></div>
</div>

       
 