@{
    ViewData["Title"] = "Home Page";
}
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/ban_0.jpg" alt="ASP.NET" class="img-responsive" />
        
        </div>
        <div class="item">
            <img src="~/images/ban_1.jpg" alt="Visual Studio" class="img-responsive" />

        </div>
        <div class="item">
            <img src="~/images/ban_3.png" alt="Microsoft Azure" class="img-responsive" />

        </div>
    </div>

</div>
<section class="section-abouts-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 history">
                    <div class="row">
                        <div>
                            <h2>MISIÓN Y VISIÓN</h2>
                            <div class="col-lg-6 mandv">
                                <div>
                                    <quote>
                                        <h4>MISIÓN</h4>
                                        <ul>
	                                    <li><p>Desarrollar investigaci&oacute;n de alta calidad para generar nuevos conocimientos que contribuyan al desarrollo y bienestar del ser humano, as&iacute; como el uso eficiente de los recursos alimentarios, con &eacute;nfasis en la salud y nutrici&oacute;n del ni&ntilde;o, adolescente y la mujer.</p></li>
                                        <li><p>Difundir conocimientos y compartir experiencias con grupos acad&eacute;micos, la sociedad civil y grupos responsables de la toma de decisiones a nivel local e internacional.</p></li>
                                        <li><p>Prestar labor asistencial de salud y nutrici&oacute;n a personas necesitadas, con &eacute;nfasis en la prevenci&oacute;n, como parte de las actividades de investigaci&oacute;n.</p></li>
                                        </ul>

                                    </quote>
                                </div>
                            </div>
                            <div class="col-lg-6 mandv">
                                <div>
                                    <quote>
                                        <h4>VISIÓN</h4>
                                        <ul>
	                                    <li>Consolidarnos como una instituci&oacute;n internacionalmente reconocida, l&iacute;der en investigaci&oacute;n en salud y nutrici&oacute;n, que contribuye al conocimiento y a la generaci&oacute;n de propuestas para mejorar la calidad de vida de las poblaciones menos favorecidas en el Per&uacute; y el mundo.</li>
                                    </ul>
                                    </quote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


