@{
    ViewData["Title"] = "Nuestra Institución";
}
<h2>@ViewData["Title"]</h2>
<section class="section-abouts-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 history">
                    <div class="row">
                        <div class="col-lg-7">
<p>El Instituto de Investigaci&oacute;n Nutricional (IIN) es una instituci&oacute;n privada, sin fines de lucro, dedicada a la rehabilitaci&oacute;n, investigaci&oacute;n y docencia en las &aacute;reas de Nutrici&oacute;n y Salud.</p>

<p>En 1961 un grupo de pediatras peruanos bajo el liderazgo del Dr. George Graham, crearon un centro de investigaci&oacute;n y rehabilitaci&oacute;n de malnutrici&oacute;n severa infantil, dentro de la Cl&iacute;nica Anglo Americana que posteriormente lleg&oacute; a independizarse tomando el nombre de Instituto de Investigaci&oacute;n Nutricional en el a&ntilde;o de 1971 como un Organismo No Gubernamental. En 1982 el IIN establece su sede en el distrito de La Molina.</p>

<p>En el transcurso de estos 40 a&ntilde;os sigue su trabajo en la sede de La Molina el que se ha ido expandiendo a la comunidad, desarroll&aacute;ndose nuevas &aacute;reas de investigaci&oacute;n e intervenciones para mejorar la nutrici&oacute;n y salud de la poblaci&oacute;n peruana especialmente aquella de escasos recursos econ&oacute;micos; trabajando tanto en la ciudad de Lima como en otras zonas del pa&iacute;s.</p>

<p>El IIN trabaja en coordinaci&oacute;n con los Ministerios de Salud, de Desarrollo e Inclusi&oacute;n Social y de Agricultura, instituciones estatales, universidades nacionales e internacionales, organizaciones de la comunidad y privados.</p>

<p>El IIN es una organizaci&oacute;n conformada por un grupo multidisciplinario de reconocidos profesionales y as&iacute; mismo cuenta con una moderna infraestructura en La Molina para desarrollar sus actividades de servicio nutricional,&nbsp; investigaci&oacute;n y docencia. Incluye laboratorios equipados, centro de c&oacute;mputo, unidad de prevenci&oacute;n y rehabilitaci&oacute;n nutricional, y un &aacute;rea administrativa adem&aacute;s de sedes en las &aacute;reas de desempe&ntilde;o de los proyectos en campo.</p>

</div>
<div class="col-lg-5">
<div class="row">
<div class="col-lg-12">
<img class="img-responsive" src="http://www.iin.sld.pe/panel/files/institucion/20160819114747.jpg">
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>