@{
    ViewData["Title"] = "Proyecto";
}
<div class="row">
<div id="carouselProyecto" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#carouselProyecto" data-slide-to="0" class="active"></li>
        <li data-target="#carouselProyecto" data-slide-to="1"></li>
      
    </ol>
       <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/gdr.jpg" alt="ASP.NET" class="img-responsive" />
           
        </div>
        <div class="item">
            <img src="~/images/gdr1.jpg" alt="Visual Studio" class="img-responsive" />         
        </div>
    </div>
</div>

   
</div>
<h3>Proyecto: Instituto de Investigación Nutricional</h3>
<div class="row">
  <div class="col-lg-7">
    <p>En 1961 un grupo de pediatras peruanos bajo el liderazgo del Dr. George Graham, crearon un centro de investigación y rehabilitación de malnutrición severa infantil,dentro de la Clínica Anglo Americana que posteriormente llegára independizarse tomando el nombre de Junta de benificencia de Chosica en el año de 1971 como un Organismo No Gubernamental. En 1982 el JBCH establece su sede en el distrito de La Molina.</p>
    <p>En el transcurso de estos 40 años sigue su trabajo en la sede de La Molina el que se ha ido expandiendo a la comunidad, desarrollándose nuevas áreas de investigación e intervenciones para mejorar la nutrición y salud de la población peruana especialmente aquella de escasos recursos económicos; trabajando tanto en la ciudad de Lima como en otras zonas del país.</p>
    
  </div>
  <div class="col-lg-5">
      <p><img src="~/images/jbch.jpg "></p>
  </div>
</div>