@{
    ViewData["Title"] = "Nuestra Institución";
}
<h3>Servicio</h3>
<div class="row">
  <div class="col-lg-7">
    <p>La Junta de benificencia de Chosica(JBCH) cuenta con el servicio de la Guardería Infantil “Graciela Vega de Stubbs” como  apoyo a madres de escasos recursos que trabajan además de promover y ejecutar acciones de asistencia social en sectores desamparados de la comunidad.</p>
    <p>El JBCH trabaja en coordinación con los Ministerios de Salud, de Desarrollo e Inclusión Social y de Agricultura, instituciones estatales, universidades nacionales e internacionales, organizaciones de la comunidad y privados.</p>
    
  </div>
  <div class="col-lg-5">
      <p><img src="~/images/jbch.jpg "></p>
  </div>
</div>