
<hr />
<h1>Gracias por registrar el servicio.</h1>
<p><img src="~/images/logo.png"></p> 

<div>
                <p> <a asp-action="Servicios">Detalle de la Lista</a></p>
                </div>
<hr />
