@{
    ViewData["Title"] = "Donacion";
}

<div class="container">
    <div class="px-3 py-3 pb-md-4 mx-auto text-center">
<h1>Donacion</h1>
<h3>Complete el siguiente formulario y podra donar.</h3>
    </div>